.hero {
  background-color: var(--section-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/mob/Header-img-mob-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/mob/Header-img@2x-mob-min.jpg);
  }
}

.hero-container {
  height: 400px;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  align-items: center;
}

.hero-title {
  color: var(--other-text-color);
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 360px;
  margin: 0 auto;
}

.hero-button {
  color: var(--other-text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--other-bcg-color);
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  margin-top: 30px;
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/tablet/Header-img-tablet-min.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/tablet/Header-img@2x-tablet-min.jpg);
    }
  }
  .hero-container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/desktop/Img-hero-min.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/desktop/Img-hero@2x-min.jpg);
    }
  }
  .hero-container {
    height: 600px;
    width: 1200px;
  }
  .hero-container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
