.filter-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
}

.filter-list__item {
  margin-right: 8px;
  &:last-child {
    margin-right: 0;
  }
}

.filter-list__buttons {
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: var(--main-letter-spacing);
  font-family: inherit;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  &:active {
    color: var(--other-text-color);
    background-color: var(--other-bcg-color);
    outline: none;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
      0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
}
