:root {
  --body-main-color: #ffffff;
  --accent-color: #2196f3;
  --section-color: #2f303a;
  --main-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #000000;
  --other-text-color: #ffffff;
  --other-bcg-color: #2196f3;
  --main-letter-spacing: 0.03em;
  --clients-logo-color: #afb1b8;
}
